/* Main container for the header */
.mainContainer {
    background-color: #FAFAFA; 
    color: #f5f5f5; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
 
  .mainContainer img {
    margin-right: 20px; 
    transition: transform 0.3s ease; 
    object-fit: contain;
  }
  
  .mainContainer img:hover {
    transform: scale(1.1);
  }
  