.mainContainer {
    width: 100%;
    height: 244px;
    position: relative;
    /* Establish stacking context */
    overflow: hidden;
    /* Ensures no overflow from child elements */
  }
  
  .mainFirstContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    /* Relative positioning within the container */
    /* Higher than background to ensure visibility */
    padding: 20px;
    z-index: 10; /* Higher than background to ensure visibility */
  
    /* Add spacing from edges */
  }
  
  .mainFirstContainer div p {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
  }
  
  .absoluteImage {
    position: absolute;
    inset: 0;
    /* Full width and height */
    z-index: 1;
    /* Ensure background is behind content */
    overflow: hidden;
    /* Prevent image overflow */
  }
  
  .modalContainer {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    bottom: -20px;
  
  }